* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-head {
  font-size: 2rem;
  font-weight: 700;
}

.home-image {
  height: 50vh;
}

.home-desc {
  font-size: 1.1rem;
  font-style: italic;
  width: 60vw;
  text-align: center;
}
